.imagen-detalle {
    width: 20%;
    height: auto;
}

.contenedor-general-detallada {
    text-align: center;
    color: white;
}

.caracteristicas-detalladas {
    /*display: table-caption;*/
    margin: auto;
}
.caja-caracteristicas-detalladas {
    text-align: -webkit-center;
}
