.logo {
    width: 130px;
    height: 90px;
    margin-left: 20px;
}

.favoritos {
    margin-right: 20px;
}

.fa {
    color: rgb(237, 199, 29);
}

.navbar {
    background: black !important;
    margin-bottom: 0px;
}
