.container {
    margin: 0px;
}

.scroll-container {
    display: flex; /* Organiza los elementos en fila */
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan en múltiples líneas */
    width: 100%; /* Ancho del contenedor */
    padding: 5px; /* Espaciado interno, opcional */
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
    margin-left: 40px;
    margin-right: 40px;
}
.scroll-container::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.scroll-container::-webkit-scrollbar-track {
    background: #333; /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #555; /* Color del thumb (barra deslizante) */
    border-radius: 10px; /* Bordes redondeados */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color del thumb al pasar el cursor */
}

.scroll-container .item {
    display: inline-block; /* Alineación horizontal */
    width: 150px; /* Ancho de los elementos */
    margin-right: 10px; /* Espacio entre elementos */
    background: #1a1a1a; /* Fondo de los elementos */
    padding: 10px;
    border-radius: 8px;
    color: #fff; /* Color del texto */
}
